-- Correção da vulnerabilidade de search_path na função set_current_tenant_id
-- Este script corrige o problema de search_path mutável

-- Recriar a função com search_path seguro
CREATE OR REPLACE FUNCTION public.set_current_tenant_id(tenant_id text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = 'public'
AS $$
BEGIN
    -- Definir o tenant_id atual na sessão
    PERFORM set_config('app.current_tenant_id', tenant_id, false);
END;
$$;

-- Adicionar comentário explicativo
COMMENT ON FUNCTION public.set_current_tenant_id(text) IS 
'Define o tenant_id atual para a sessão. CORRIGIDO: search_path fixo para segurança.';